@model EmployeeIndexViewModel

@{
	ViewData["Title"] = "Employee";
}

<h1>Employees</h1>
<form>
	<div class="row">
		<div class="col-2">
			<input asp-for="Id" class="form-control" />
		</div>
	</div>
	
	<button id="btnGetEmployees" type="button" asp-action="Index" asp-controller="Employee" class="btn btn-primary">Get Employees <span class="glyphicon glyphicon-check" style="font-size:15px"></span></button>
</form>

<div id="employeesContainer"></div>


<script src="~/js/Employees.js"></script>


